<main class="posts-page container">
  <section class="posts">
    <% if @posts.any? %>
      <%= render @posts %>
    <% else %>
      No posts yet.
    <% end %>
  </section>

  <aside>
    sidebar

    <section class="suggestions">
      <h4>Suggestions For You</h4>      
    </section>
  </aside>

  <footer>
    © <%= Date.current.year %> INSTACLONE
  </footer>
</main>
